---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";

// 讀取妳的 Hex Code 內容
const entry = await getEntry("spec", "nothing");

// 這裡不需要 getStaticPaths，因為 404.astro 是靜態保留路徑
const { Content } = await render(entry!);
---

<MainGridLayout title="404 Not Found">
    <div class="card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full">
        <Markdown class="mb-6 markdown-content">
            <Content />
        </Markdown>
    </div>
</MainGridLayout>