---
import { formatDateMinguo } from '@/utils/date-utils'

const { frontmatter } = Astro.props
const pubDate = frontmatter.pubDate
---

<time datetime={pubDate}>
  {formatDateMinguo(pubDate)}
  <span class="ad">（{pubDate}）</span>
</time>
